# Python
.venv/
__pycache__/
*.pyc
.ipynb_checkpoints/

# Secrets
.env
kaggle.json

# Data
data/raw/
data/interim/
data/processed/
data/warehouse/*.duckdb
data/warehouse/*.wal
data/warehouse/*.tmp

# dbt
dbt_project/target/
dbt_project/dbt_packages/
dbt_project/logs/

# OS
.DS_Store
# dbt local user settings
.user.yml
dbt_project/.user.yml
